<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="post">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ post.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ post.content }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-content *ngIf="!post">
  <p class="ion-padding">Tidak ada data.</p>
</ion-content>
